/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.display-container {
  width: 90%;
}

header {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1em;
}

header h1{
  font-size: 2rem;
  margin:0;
  padding: 0;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.pages{
  max-width: 1400px;
  min-height: 90%;
  padding: 1.25em;
  margin: 0 auto;
}

/* navbar */
/* nav {
  display: flex;
  align-items: center;
} */

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 0.8rem;
}

nav button:hover,
nav button:focus{
  transform: scale(1.05);
}

/* homepage */
.home {
  margin: auto;
  border: 1px solid red;
}

/* Cards for forms and recipes */
.card {
  background: #fff;
  border-radius: 4px;
  margin: 1.3em auto;
  padding: 1.5em;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

/* Recipe card */
/* .recipe-details {
  padding: 20px;
} */
.card h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.card p {
  margin-bottom: 1em;
  line-height: 1.25;
  font-size: 0.9em;
  color: #555;
}

.card a {
  font-size: 0.9em;
  color: var(--primary);
  cursor: pointer;
}

.recipe-details button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  border: none;
  color: #333;
}

/* recipe forms */
label, input, textarea {
  display: block;
}

form h3 {
  margin: 0 0 20px 0;
}

label span {
  font-style: italic;
  font-size: 0.8em;
}

input, textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin-top: 20px;
}

input.error, textarea.error {
  border: 1px solid var(--error)
}



/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.redirect-link{
  margin-top: 20px;
}npm 

@media (min-width: 800px) {
  .home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
  }
}