/* layout */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
  font-size: calc(15px + 0.390625vw);
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.01rem;
  line-height: 1.4;
}

.display-container {
  width: 90%;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-col{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.pages{
  width: 100%;
  max-width: 1400px;
  min-height: 90%;
  margin: 0;
}

header {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
}

header h1{
  font-size: 2rem;
  margin:0;
  padding: 0;
}

.btn {
  font-family: "Poppins";
  cursor: pointer;
}

.btn:hover,
.btn:focus{
  transform: scale(1.05);
}

.btn-outlined{
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 4px;
}

/* navbar */
/* nav {
  display: flex;
  align-items: center;
} */

.logout-btn {
  padding: 0.2rem 0.6rem;
}

.home-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* Cards for forms and recipes */
.card {
  width: 100%;
  /* max-width: 100%; */
  background: #fff;
  border-radius: 4px;
  margin: 1.3rem 0;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.utility-card-container{
  width: 100%;
}

/* Select action card */
.select-action-btn-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.select-action-btn{
  text-align: left;
  background: #fff;
  color: var(--primary);
  border: none;
  padding: 0.2rem 0;
  font-size: 0.9rem;
} 

.hide-select-action-btn{
  display: none;
}

.icon-btn{
  display: flex;
  padding: 0;
}

.icon-btn>span{
  margin: auto;
}

.expand-btn{
  display: flex;
}

/* Recipe card */

.card h4 {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  color: var(--primary);
}

.card h3 {
  font-size: 1rem;
  margin: 0;
}

.card p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #555;
}

.card a {
  font-size: 0.9em;
  color: var(--primary);
  cursor: pointer;
}

.delete-recipe-btn {
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  border: none;
  color: #333;
}

/* recipe forms */
label, input, textarea {
  display: block;
}

label span {
  font-style: italic;
  font-size: 0.8em;
}

input, textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}

.submit-btn {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 1em;
  border-radius: 4px;
}

.msg {
  margin-top: 1.25rem;
}

.error{
  padding: 0.7em;
  border-radius: 4px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
}

input.error, textarea.error {
  border: 1px solid var(--error);
}

.trash-btn{
  color: black;
  border-color: black;
}

/* Search form */
.search-btn-container{
  justify-content: flex-start;
  gap: 1em;
}

.clear-btn{
  color: var(--primary);
  background: none;
  border: none;
}


/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.redirect-link{
  margin-top: 20px;
}


/* Media queries */

/* Tablet and larger = min-width of 768px */
@media (min-width: 768px) {
  .home-flex{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .utility-card-container{
    max-width: 35%;
    
  }

  .select-action-btn{
    display: inline-block;
  }

  .recipe-card-container{
    max-width: 60%;
  }

  .expand-btn{
    display: none;
  }
  
}

   /* Laptops, 1024px and larger */
   @media (min-width: 1024px){


  
   /* .card{
    padding: 3em 5em;
   } */
  }
